@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

body > *{
    font-family: Roboto;
}
/* section one styling */

.section1{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
} 

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 75%;
    margin-top: 5px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5e7eb;
}

.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 10px 5px;
}

.intro{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.bio{
    width: 40%;
    padding-top: 0px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 0px;
}

.bio > p{
    font-size: 18px;
    color: #E5e7eb;
}

button{
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 12%;
}

.image > img{
    width: 400px;
    height: 300px;
}


/* section two styling */

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 40px auto;
}

.illustration{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.sample{
    flex-basis: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sample > img{
    width: 100%;
    height: 200px;
    outline: 3px solid #3882f6;
    border-radius: 10px;
}

.sample > p{
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/* section 3 styling */
.section3{
    height: 500px;
    padding: 0px 25%;
    background-color: #E5e7eb;
}

.major{
    color: #1f2937;
    font-size: 36px;
    font-style:italic;
    margin: 180px auto 0px;
}

.minor{
    font-weight: 900;
    font-size: 24px;
    text-align: right;
    margin-top: 0px;
}


/* section 4 styling */
.section4{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subsect1{
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    margin: 140px;
    padding: 20px 50px;
    gap: 300px;
    width: 60%;
    border-radius: 10px;
}

.text1{
    font-size: 24px;
    color: white;
    font-weight: 900;
    margin-bottom: 10px;
}

.text2{
    margin-top: 0px;
    color: white;
    font-size: 18px;
}

.sign2{
    color: white;
    border-color: white;
    border-width: 2.5px;
    width: 150px;
}

footer{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: #1f2937;
}

footer > p{
    margin-top: 25px;
    color: #f9faf8;
    font-size: 18px;
}